<div class="bf-product">
    <div class="bf-media">
        <picture>
            <source data-srcset="https://d2l4159s3q6ni.cloudfront.net/resize/1366x685/filters:quality(55):max_age(2604800):format(webp)/s3/dam/photos/ef/e1/69/62/13f8ff1e1968d70337789b592d2c7f4debb022f8d38d789b0c100616.jpg"
                    type="image/webp">
            <img class="lazyload" data-src="https://d2l4159s3q6ni.cloudfront.net/resize/1366x685/filters:quality(55):max_age(2604800)/s3/dam/photos/ef/e1/69/62/13f8ff1e1968d70337789b592d2c7f4debb022f8d38d789b0c100616.jpg">
        </picture>
    </div>

    <div class="bf-offer-list">
        <div class="bf-heading">
            <div class="bf-heading__hashtag">
                #TuBlackFridayIberojet
            </div>
            <div class="bf-heading__text">
                Apaga tu rutina y enciende las mejores ofertas del Black Friday del Verano 2019.
            </div>
        </div>
        <div class="bf-offer-list__inner">


            <div class="bf-offer">
                <h3 class="bf-offer__title">Tailandia</h3>
                <div class="bf-offer__actions">
                    <div class="bf-offer__price">
                        <div class="bf-offer__from">desde</div>
                        <div class="bf-offer__value">980 €</div>
                    </div>
                    <div class="bf-offer__button">
                        <a data-gtm-activation="basicEvent" data-gtm-event="eventoGA" data-gtm-listener="click" data-gtm-catevent="Black Friday" data-gtm-actevent="Ofertas" data-gtm-lblevent="Destino - Tailandia" class="bf-button" href="https://www.iberojet.es/viajes-tailandia"
                           target="_blank">
                            Ver oferta
                        </a>
                    </div>
                </div>
                <div class="bf-offer__share">
                    <div class="bf-offer__share-title">
                        Comparte esta oferta
                    </div>
                    {{> bf-social
                            id="tailandia"
                            link="https://www.iberojet.es/viajes-tailandia"
                            text="Descubre las mejores ofertas en #Iberojet. ¡Qué no se te escapen! #TuBlackFridayIberojet"
                    }}
                </div>
            </div>
            <div class="bf-offer">
                <h3 class="bf-offer__title">Costa Rica</h3>
                <div class="bf-offer__actions">
                    <div class="bf-offer__price">
                        <div class="bf-offer__from">desde</div>
                        <div class="bf-offer__value">1.113 €</div>
                    </div>
                    <div class="bf-offer__button">
                        <a data-gtm-activation="basicEvent" data-gtm-event="eventoGA" data-gtm-listener="click" data-gtm-catevent="Black Friday" data-gtm-actevent="Ofertas" data-gtm-lblevent="Destino - Costa Rica" class="bf-button" href="https://www.iberojet.es/viajes-costa-rica"
                           target="_blank">
                            Ver oferta
                        </a>
                    </div>
                </div>
                <div class="bf-offer__share">
                    <div class="bf-offer__share-title">
                        Comparte esta oferta
                    </div>
                    {{> bf-social
                            id="costaRica"
                            link="https://www.iberojet.es/viajes-costa-rica"
                            text="Descubre las mejores ofertas en #Iberojet. ¡Qué no se te escapen! #TuBlackFridayIberojet"
                    }}
                </div>
            </div>
            <div class="bf-offer">
                <h3 class="bf-offer__title">China</h3>
                <div class="bf-offer__actions">
                    <div class="bf-offer__price">
                        <div class="bf-offer__from">desde</div>
                        <div class="bf-offer__value">1.439 €</div>
                    </div>
                    <div class="bf-offer__button">
                        <a data-gtm-activation="basicEvent" data-gtm-event="eventoGA" data-gtm-listener="click" data-gtm-catevent="Black Friday" data-gtm-actevent="Ofertas" data-gtm-lblevent="Destino - China" class="bf-button" href="https://www.iberojet.es/viajes-china"
                           target="_blank">
                            Ver oferta
                        </a>
                    </div>
                </div>
                <div class="bf-offer__share">
                    <div class="bf-offer__share-title">
                        Comparte esta oferta
                    </div>
                    {{> bf-social
                            id="china"
                            link="https://www.iberojet.es/viajes-china"
                            text="Descubre las mejores ofertas en #Iberojet. ¡Qué no se te escapen! #TuBlackFridayIberojet"
                    }}
                </div>
            </div>

            <div class="bf-offer">
                <h3 class="bf-offer__title">India</h3>
                <div class="bf-offer__actions">
                    <div class="bf-offer__price">
                        <div class="bf-offer__from">desde</div>
                        <div class="bf-offer__value">1.072 €</div>
                    </div>
                    <div class="bf-offer__button">
                        <a data-gtm-activation="basicEvent" data-gtm-event="eventoGA" data-gtm-listener="click" data-gtm-catevent="Black Friday" data-gtm-actevent="Ofertas" data-gtm-lblevent="Destino - India" class="bf-button" href="https://www.iberojet.es/viajes-india"
                           target="_blank">
                            Ver oferta
                        </a>
                    </div>
                </div>
                <div class="bf-offer__share">
                    <div class="bf-offer__share-title">
                        Comparte esta oferta
                    </div>
                    {{> bf-social
                            id="india"
                            link="https://www.iberojet.es/viajes-india"
                            text="Descubre las mejores ofertas en #Iberojet. ¡Qué no se te escapen! #TuBlackFridayIberojet"
                    }}
                </div>
            </div>

        </div>
    </div>
</div>

