.bf-loading{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #02184b;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: .3s opacity .6s;
  will-change: opacity;
  &::before{
    background: url(https://d1hkxmgwhmmdhs.cloudfront.net/dist/assets/img/iberojet/cyber-monday-2018/testCyberMonday-min.png) no-repeat bottom center;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: .3;
  }
  .bf-bullet{

  }
  &__inner{


  }
  &__text{
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    padding-top: 16px;
  }
  &.is-hidden{
    opacity: 0;

  }
}



